.container_service-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 3rem 1rem;
  gap: 2rem;
}

.title_service-3 {
  font-weight: 700;
  font-size: 1.75rem;
  text-align: center;
}

.service-3_cards_grid {
  display: grid;
  place-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
  width: 100%;
}

@media (min-width: 425px) {
  .title_service-3 {
    font-size: 2rem;
  }
  .service-3_cards_grid {
    grid-template-columns: repeat(1, 360px);
  }
}

@media (min-width: 768px) {
  .title_service-3 {
    font-size: 2.5rem;
  }
  .service-3_cards_grid {
    grid-template-columns: repeat(2, 340px);
    gap: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .title_service-3 {
    font-size: 2.75rem;
  }
  .service-3_cards_grid {
    grid-template-columns: repeat(2, 384px);
    gap: 4rem;
  }
}

@media (min-width: 1440px) {
  .title_service-3 {
    font-size: 3rem;
  }
  .service-3_cards_grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1380px;
    gap: 2rem;
  }
}

@media (min-width: 1920px) {
  .title_service-3 {
    font-size: 56px;
  }
  .service-3_cards_grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1820px;
    gap: 2rem;
  }
}

@media (min-width: 2560px) {
  .title_service-3 {
    font-size: 4rem;
  }
  .service-3_cards_grid {
    grid-template-columns: repeat(3, 700px);
    max-width: 2400px;
    gap: 4rem;
    padding-bottom: 3rem;
  }
}
