/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
}

.hamburger {
    display: none;
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 66%; /* 2/3 da tela */
    height: 100%;
    background-color: white; /* fundo branco */
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 200;
    padding: 60px 20px;
}

.side-menu.open {
    transform: translateX(0);
}

.side-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.side-menu a {
    text-decoration: none;
    color: #222;
    font-size: 18px;
}

.side-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    display: block;
    width: 80%;
    height: 1px;
    background-color: rgba(150, 150, 150, 0.5);
    margin: 12px 0;
    
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 150;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links-desktop {
        display: none;
    }
}
