.card-2{
    display: flex;
    justify-items: center;
    align-items: center;
    max-width: 100%;
    max-height: 280px;
    font-size: 14px;
    border-radius: 12px;
    background-color: #c02e2ed9;
    overflow: hidden;
    transition: all 0.2s ease;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    justify-content: start;
    padding: 0;
}
.card-2:hover{
    transform: scale(1.05);
}
.img-card-2{
    width: 174px;
    max-width: 280px;
    height: 280px;
    margin: 0;
    padding: 0;
}
.text-card-2-container{
    display: flex;
    flex-direction: column;
    border-radius: 36px;
    gap: 16px;
    padding: 1rem 0.5rem;
    margin: 0;
    max-width: 126px;
    min-height: 240px;
    
}
.text-card-2-container .text-card-2{
        max-width: 100%;
        margin: 0;
        font-weight: 300;
}
.title-card-2{
    font-size: 16px;
    font-weight: 500;
    margin: 4px;
}

@media (min-width:425px)
{
    .image-card-2{
        width: 200px;
    }
    .img-card-2{
        width: 200px;
    }   
    .text-card-2-container{
        max-width: 160px;
        padding: 4px 8px;
    }
    .text-card-2{
        font-size: 16px;
    }
    .title-card-2{
        font-size: 20px;
    }

}

@media (min-width:768px)
{

    .img-card-2{
        width: 100%;
        min-width: 184px;
    }  
    .text-card-2-container{
        max-width: 45%;
    } 
    .text-card-2{
        font-size: 16px;
    }
    .title-card-2{
        font-size: 20px;
    }

}

@media (min-width:1024px)
{
    .img-card-2{
        width: 100%;
    }   
     .text-card-2{
        font-size: 16px;
    }
    .title-card-2{
        font-size: 20px;
    }

}
@media(min-width:1200px){
    .card-2{
        max-height: 380px;
    }
    .text-card-2{
        font-size: 18px;
    }
    .title-card-2{
        font-size: 22px;
    }
}

@media (min-width:1440px)
{
    .card-2{
        max-height: 340px;
    } 
    .img-card-2{
        width: 244px;
        height: 100%;
    }   
    .text-card-2-container{
        max-width: 45%;
    }
     .text-card-2{
        font-size: 22px;
    }
    .title-card-2{
        font-size: 24px;
    }
}

@media (min-width:1920px)
{
    .card-2{
        max-height: 440px;
    } 
    .img-card-2{
        max-width: 360px;
        width:360px;
    }
  
    .text-card-2-container{
        max-width: 40%;

    }
     .text-card-2{
        font-size: 28px;
    }
    .title-card-2{
        font-size: 32px;
    }
}

@media (min-width:2560px)
{
    .card-2{
        max-width: 100%;
        max-height: 520px;
    }
    .img-card-2{
        max-width: 400px;
        width: 400px;
    }   
    
     .text-card-2{
        font-size: 32px;
    }
    .title-card-2{
        font-size: 36px;
    }
}


