.card-fb{
    display: flex;
    justify-items: center;
    max-width: 12rem;
    width: 12rem;
    max-height: 12rem;
    height: 12rem;
    font-size: 14px;
    border-radius: 1000px;
    overflow: hidden;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.img-card-fb{
    width: 240px;
    max-height: 100%;
    object-fit: cover;
}
@media (min-width:425px)
{
    .card-fb{
        max-width: 13rem;
        max-height: 13rem;
        width: 13rem;
        height: 13rem;
    } 
    .image-card-fb{
        width: 100%;
    }

}


@media (min-width:768px)
{
    .card-fb{
        max-width: 13rem;
        max-height: 13rem;
        width: 13rem;
        height: 13rem;
    } 
    .image-card-fb{
        width: 100%;
    }
    .img-card-fb{
        width: 100%;
    }

}

@media (min-width:1024px)
{
    .card-fb{
        max-width: 14rem;
        max-height: 14rem;
        width: 14rem;
        height: 14rem;
    } 
    .image-card-fb{
        width: 100%;
    }
    .img-card-fb{
        width: 100%;
    }

}
@media(min-width:1200px){
    .card-fb{
        max-width: 14rem;
        width: 14rem;
        max-height: 14rem;
        height: 14rem;
    } 
    .image-card-fb{
        width: 100%;
    }

}

@media (min-width:1440px)
{
    .card-fb{
        max-width: 15rem;
        width: 15rem;
        max-height: 15rem;
        height: 15rem;
    } 
}

@media (min-width:1920px)
{
      .card-fb{
        max-width: 17rem;
        width: 100%;
        max-height: 17rem;
        height: 17rem;
    } 
    .image-card-fb{
        width: 100%;
        height: 17rem;
    }
}

@media (min-width:2560px)
{
    .card-fb{
        max-width: 20rem;
        width: 20rem;
        max-height: 20rem;
        height: 20rem;
    } 
    .image-card-fb{
        width: 100%;
    }
}


